<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cadastro-style.css}">
    <title>Cadastro de Usuário</title>

    <!-- Adicione jQuery -->
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>

</head>

<body>

    <header></header>

    <main>

        <div class="container-2">

            <button class="back-button" onclick="window.history.back()">←</button>
            <h1 id="idTituloTopo">Cadastro de Usuário</h1>

            <form th:action="@{/usuario}" th:object="${usuario}" method="post">

                <input type="hidden" th:field="*{id}" id="userId" />

                <div class="input-box">
                    <input th:field="*{email}" id="email" placeholder="E-mail" type="email" required>
                </div>

                <div class="input-box">
                    <input th:field="*{password}" placeholder="Senha" type="password" required>
                </div>

                <div class="input-box">
                    <input th:field="*{passwordConfirm}" placeholder="Senha confirma" type="password" required>
                </div>

                <div class="input-box">
                    <input th:field="*{keypass}" id="keypass" placeholder="Palavra chave para recuperação" type="text"
                        required>
                </div>

                <div class="input-box" th:if="${mensagemUsuarioExiste != null}">
                    <h2 th:text="${mensagemUsuarioExiste}"></h2>
                </div>

                <button type="submit" class="login">Cadastrar</button>

                <div class="register-link">
                    <p>Já tem uma conta? <a th:href="@{/tela/login}">Entrar</a></p>
                </div>

            </form>

        </div>

    </main>

    <script>
        $(document).ready(function () {

            // Verifica se o ID do usuário não é nulo
            if ($('#userId').val()) {

                // Oculta os campos de email e palavra-chave
                $('#email').hide();
                $('#keypass').hide();

                // (Opcional) também pode ocultar os rótulos
                $('label[for="email"]').hide();
                $('label[for="keypass"]').hide();

                // Altera o título do formulário para "Alterar Senha"
                $('#idTituloTopo').text('Alterar Senha');

                // Altera o texto do botão de cadastro para "Alterar"
                $('button[type="submit"]').text('Alterar');
            }

        });
    </script>

</body>

</html>